html,
body {
  padding: 0;
}

#display {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#display > div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.square,
.ship {
  width: 36px;
  height: 36px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: crosshair;
}

.ship {
  background-color: red;
}
.square {
  background-color: chartreuse;
}
